<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="FerrazMarini Advogados" content="Site FerrazMarini Advogados">
        <title>Ferraz Marini Advogados</title>
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/header.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/footer.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/addressContact.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/page_members.css">


    </head>

    <body>

        <header>

            <div class="container">

                <div id="logo">
                    <a href="index.html">
                       <h1 class="name01" >
                           Ferraz Marini
                       </h1>

                       <h2 class="name02">
                          Advogados 
                       </h2>
                    </a>

                </div>

                <div id="menu">
                    <a href="page-members.html">Sócios</a>
                    <a href="page-operation.html">Atuação</a>
                    <a href="page-contact.html">Contato</a>
                </div>

            </div>

        </header>
        
        <div class="container">
           

            <div id="person01">

                <div id="perso01Image">
                    <img src="/public/images/person01.jpg"  class="imageP01" alt="Imagem pessoa 2"> 
                    
                </div>

                <div id="person01text">
                    <h1 class="person01Name">
                        James A Raymond
                    </h1>

                    <p class="person01History">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida est, 
                        ut feugiat mauris mollis tempor. Fusce interdum porta diam quis viverra. Maecenas dapibus 
                        magna justo, eu eleifend justo porttitor a. Morbi dictum ipsum magna, non congue magna gravida.
                    </p>
                </div>

            </div>


            <div id="person02">

                <div id="person02Image">
                    <img src="/public/images/person02.jpg" class="imageP02" alt="Imagem pessoa 1">
                    
                </div>

                <div id="person02text">

                    <h1 class="person02Name">
                        Pamela L Myers
                    </h1>

                    <p class="person02History">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ex est, dignissim sodales mi vel, 
                        eleifend ornare massa. Pellentesque est dolor, porta eu commodo vel, fermentum semper elit. 
                        Vivamus eu finibus magna. Integer at sapien ut risus condimentum venenatis finibus
                    </p>

                </div>


            </div>


            <div id="blackBar"></div>

            <div id="addressContact">

                <div id="contact">
                    <a href="/src/views/page-contact.html" >

                        <h4 class="contactTitle">
                            Contato
                        </h4>
                    </a>

                    <p class="contactp">
                        +55(11)1234 5678 <br>
                        contato@contado.com

                    </p>

                </div>

                <div id="address">
                    <a href="https://duckduckgo.com/?q=S%C3%A3o+Paulo+-+SP%2C+Brazil&atb=v247-6&ia=web&iaxm=maps&strict_bbox=0&bbox=-21.680656077702874%2C-47.86501434843751%2C-22.078896003168484%2C-47.43654755156251&metatoken=0" target="_blank">
                        
                        <h1 class="addressTitle">
                            Endereço
                        </h1>
                    </a>

                    <p class="addressp">
                        Av. Brasil , 1234 <br>
                        5° Andar <br>
                        São Paulo -SP <br>
                        Brasil <br>
                    </p>

                </div>

            </div>


        </div>









        <footer>

            <a href="page-about.html">Desenvolvido por Caio Ferraz Marini</a>

        </footer>


    </body>

</html>