<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="FerrazMarini Advogados" content="Site FerrazMarini Advogados">
        <title>Ferraz Marini Advogados</title>
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/header.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/footer.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/addressContact.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/page_operation.css">


    </head>

    <body>

        <header>

            <div class="container">

                <div id="logo">
                    <a href="../../index.html">
                       <h1 class="name01" >
                           Ferraz Marini
                       </h1>

                       <h2 class="name02">
                          Advogados 
                       </h2>
                    </a>

                </div>

                <div id="menu">
                    <a href="page-members.html">Sócios</a>
                    <a href="page-operation.html">Atuação</a>
                    <a href="page-contact.html">Contato</a>
                </div>

            </div>

        </header>
        
        <div class="container">
           




            <div id="civil">

                <h1 class="civilTitle">
                    Direito Cívil
                </h1>

                <p class="civilP">
                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit. Vivamus semper felis at felis vestibulum, eu ullamcorper 
                    sapien cursus. Ut purus urna, venenatis in ornare sed, efficitur 
                    non elit. Nulla commodo.
                </p>

            </div>

            <div id="family">
                <h1 class="familyTitle">
                    Direito de Familia
                </h1>
                <p class="familyTitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur blandit consectetur lobortis. Morbi efficitur 
                    hendrerit sapien, at sodales lorem. Cras vitae lectus at erat 
                    congue convallis non quis sapien. Suspendisse.
                </p>
            </div>

            <div id="labor">
                <h1 class="laborTitle">
                    Direito Trabalhista
                </h1>
                <p class="laborP">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Aliquam lorem lorem, varius non lorem eget, congue congue 
                     tellus. Mauris a placerat quam. Praesent suscipit elit arcu, 
                     sit amet convallis dolor.
                </p>
            </div>

            <div id="realestate">
                <h1 class="realestateTitle">
                    Direito Imobiliário
                </h1>
                <p class="realestateTitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed egestas metus quis felis pellentesque volutpat. Nullam 
                    eu ligula non risus fermentum lobortis sed sodales magna. Cras
                     blandit ut justo eu.
                </p>
            </div>



            <div id="addressContact">

                <div id="contact">
                    <a href="/src/views/page-contact.html">

                        <h4 class="contactTitle">
                            Contato
                        </h4>
                    </a>

                    <p class="contactp">
                        +55(11)1234 5678 <br>
                        contato@contado.com

                    </p>

                </div>

                <div id="address">
                    <a href="https://duckduckgo.com/?q=S%C3%A3o+Paulo+-+SP%2C+Brazil&atb=v247-6&ia=web&iaxm=maps&strict_bbox=0&bbox=-21.680656077702874%2C-47.86501434843751%2C-22.078896003168484%2C-47.43654755156251&metatoken=0" target="_blank">
                        
                        <h1 class="addressTitle">
                            Endereço
                        </h1>
                    </a>

                    <p class="addressp">
                        Av. Brasil , 1234 <br>
                        5° Andar <br>
                        São Paulo -SP <br>
                        Brasil <br>
                    </p>

                </div>

            </div>


        </div>



        <footer>

            <a href="page-about.html">Desenvolvido por Caio Ferraz Marini</a>

        </footer>


    </body>

</html>