<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="FerrazMarini Advogados" content="Site FerrazMarini Advogados">
        <title>Ferraz Marini Advogados</title>
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/header.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/footer.css">
        <link rel="stylesheet" rel="stylesheet" href="/public/styles/addressContact.css">


    </head>

    <body>

        <header>

            <div class="container">

                <div id="logo">
                    <a href="index.html">
                       <h1 class="name01" >
                           Ferraz Marini
                       </h1>

                       <h2 class="name02">
                          Advogados 
                       </h2>
                    </a>

                </div>

                <div id="menu">
                    <a href="page-members.html">Sócios</a>
                    <a href="page-operation.html">Atuação</a>
                    <a href="page-contact.html">Contato</a>
                </div>

            </div>

        </header>
        
        <footer>

            <a href="page-about.html">Desenvolvido por Caio Ferraz Marini</a>

        </footer>


    </body>

</html>